<div class="ctl-menu-kmu-logo-wrapper">
    <!--<img class="ctl-menu-kmu-logo" src="./images/logo_kmu.png"></img>-->
    <div class="ctl-menu-logo-real"></div>
</div>

<div class="ctl-menu-login-wrapper">
    <a href="/logout_process">
        <div class="ctl-menu-login-btn">
            <i class="fa fa-user color-gray1-light ctl-menu-login-icon "></i>
            <p class="ctl-menu-login-p">
                    &nbsp; 로그아웃&nbsp;
            </p>
        </div>
    </a>
</div>


<div class="nav nav-medium">
    <div class="divider"></div>
    <!--
    <a id="page-welcome" href="index.html">
        <i class="fa fa-star color-yellow1-light"></i><span>Welcome</span><i class="fa fa-angle-right"></i>
    </a>   -->  
    <a id="page-home" href="index.html">
        <i class="fa fa-home color-green1-dark"></i><span>메인 페이지</span><i class="fa fa-angle-right"></i>
    </a>    
    <a id="page-lectures" href="lectures.html">
        <i class="fa fa-book-open color-blue2-dark"></i><span>강의실</span><i class="fa fa-angle-right"></i>
    </a>  
    <a id="page-alerts" href="index.html">
        <i class="fa fa-exclamation-circle color-mint-dark"></i><span>중요알림</span><i class="fa fa-angle-right"></i>
    </a>           
    <a id="page-grade" href="grade_calc.html">
        <i class="fa fa-award color-magenta2-dark"></i><span>예상성적</span><i class="fa fa-angle-right"></i>
    </a>     
    <a id="page-notices" href="index.html">
        <i class="fa fa-bullhorn color-red1-dark"></i><span>일반공지</span><i class="fa fa-angle-right"></i>
    </a>   
    <!--
    <a id="page-walkthrough" href="index.html">
        <i class="fa fa-save color-green1-light"></i><span>자료실</span><i class="fa fa-angle-right"></i>
    </a>    -->  
    <a id="page-data" href="index.html">
        <i class="fa fa-save color-teal-dark"></i><span>자료실</span><i class="fa fa-angle-right"></i>
    </a>      
    <!--
    <a id="page-cms" href="index.html">
        <i class="fa fa-shopping-bag color-brown1-dark"></i><span>Templates</span><i class="fa fa-angle-right"></i>
    </a>     
    <a id="page-contact" href="index.html">
        <i class="fa fa-envelope color-blue2-dark"></i><span>Contact</span><i class="fa fa-angle-right"></i>
    </a>
    -->
    <div class="divider top-15"></div>
    <p>Copyright &copy; YDK 2021. All Rights Reserved.</p>
</div>
